.post{
	border-radius: 6px;
	box-shadow: 2px 2px rgba(0,0,0,0.1);
	background-color: #FFF;
	width : 680px;
	margin-top : 20px;
	position: relative;
}

.post h4{
	padding: 20px;
	line-height: 1;
	margin: 0;
	background: url('images/divider_dashed.png') bottom left repeat-x;
}
.post:before{
	content: '';
	display: block;
	position: absolute;
	background: url('images/paperclip_blog.png');
	height: 54px;
	right: 10px;
	top: -9px;
	width: 40px;
	z-index: 100;
}

.post .content{
	padding: 20px 10px;
	font-size : 16px;
}

.share{
	text-align: right;
	padding-bottom : 10px;
	padding-top: 5px;
	color : #444;
	font-size : 15px;
	.links{
		padding-left: 7px;
		display: inline-block;
		vertical-align: middle;
		line-height: 0;
		position: relative;
	}
}

a{
	color : white;
}